h1,
h2,
ul,
p {
	margin: 0;
}

body {
	font-family: "Red Hat Display", sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 20px;
}

h2 {
	font-size: 16px;
	font-weight: 700;
}

p {

	color: #7280A7;
}

.card {
	height: 900px;
}

.container {
	width: 1440px;
	background-color: #E0E8FF;
	padding: 0;

}

.order-summary,
.card-discription,
.icon-music {
	background-repeat: no-repeat;
}

.card-content {
	width: 450px;
	height: 700px;
	display: flex;
	flex-direction: column;
	margin: auto auto;
	background-color: #fff;
	align-items: center;
	border-radius: 20px;
	box-shadow: 7px 7px 40px rgba(118, 108, 241, .3);
}


.order-summary {
	display: flex;
	flex-direction: column;
	height: 900px;

	background-image: url("../card_img/pattern-background-desktop.svg");
	background-size: 110% auto;
}

.icon-music {
	background-position: 7% 50%;
	
}

.card-discription {
	margin-bottom: 25px;
	padding-left: 70px;
	padding-right: 70px;

	background-image: url("../card_img/illustration-hero.svg");
	padding-top: 270px;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 20px;
}

.plan {
	justify-content: space-between;
	align-items: center;
	width: 350px;
	height: 100px;
	margin-bottom: 30px;
	line-height: 50%;
	background-color: #F8F9FE;
	border-radius: 10px;
	background-image: url("../card_img/icon-music.svg");
}

.plan ul {
	padding-left: 90px;
	padding-right: 30px;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: space-between;
	
	
}



